<!Doctype HTML>
<html
        xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8"/>
  <title>List of all books</title>
  <style>
    body {
        padding: 50px;
    }

    .book {
        border: 1px solid steelblue;
        width: 300px;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .book tr td, th {
        padding: 5px;
        border: 1px solid steelblue;
    }

    .create {
        margin-bottom: 20px;
    }

  </style>
</head>


<body>
<h3>Books:</h3>
<table class="book">
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
  </tr>
  </thead>
  <tbody>
  <tr th:object = "${book}">
    <td th:text = "*{title}"></td>
    <td th:text= "*{authorDto.fullName}"></td>
    <td th:text = "*{genreDto.name}"></td>
  </tr>
  </tbody>
</table>

<div class="show">
  <a class="show" th:href="@{/books}"><button type="button"> Show all books </button></a>
</div>

</body>
</html>